<p><em>posted by
<% if news.user %>
<%=  h(news.longname) %>
<% else %>
(deleted user)
<% end %>
on <%= news.posted.localtime().strftime "%Y/%m/%d %H:%M:%S %Z" %>:</em>
<% if session[:user] and session[:user].submit_flag? %>
<%=  link_to "Delete", { :controller => "news", :action => "delete",
         :id => news.id }, :confirm => "Are you sure?", :method => 'post' %>
<% end %></p>
<p><%= sanitize(news.content) %></p>
