<div class="sectionheader">Users</div>
<table>
<%= render :partial => "user", :collection => @oldusers %>
</table>
<hr />
<table>
<%= render :partial => "user", :collection => @newusers %>
</table>
<% if session[:user] and session[:user].admin_flag %>
<div class="sectionheader">Archived Users</div>
<table>
<%= render :partial => "user", :collection => @archusers %>
</table>
<% end %>
